@charset "UTF-8";

main{
        background-color: rgb(179, 247, 179);
        width: 800px;
        padding: 5%;
        margin: auto;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);
}
div > p{
    display: none;
}
div:hover > p{
    display: block;
    color: white;
    background-color: red;
    width: 300px;
    font-weight: bold;
}
div:hover {
    font-weight: bold;
    color: rgb(17, 0, 255);
}