
div.carousel {
    position: relative;
    background-image: linear-gradient(to top, yellow, orange);
    width: 300px;
    height: 300px;
    perspective: 500px;
    transform-style: preserve-3d;
}

div.carousel div#card-container {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 300px;
}
