@charset 'UTF-8' ;

body {
    background-image: linear-gradient(to top, black, silver);
}
h1{
    text-align: center;
    color: white;

}
main {
    font-family: 'Times New Roman', Times, serif;
}
aside{
    display: inline-flex;
    background-color: white;
    width: 350px;
    height: 350px;
    text-align: justify;
    padding: 6px;
}

article {
    width: 96%;
    height: 370px;
    padding: 10px;
    background-image: linear-gradient(to top, black, silver);
    margin-bottom: 20px;
}
footer {
    position: absolute;
    width: 100dvh;
 }

footer > div{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: rgb(31, 120, 197);
    left: 80%;
    top: 100%;
    transform: translate(-50%, -50%);
}
